<!doctype html>
<html>

<head>
  <% include ./partials/header %>
</head>

<body>
  <div class="page-container">
    <header>
      <h1 class="ribbon">Eryl Murphy</h1>
      <h2>web developer</h2>
    </header>
    <article>
      <h1>ABOUT</h1>
      <ul>
      <li>As a web developer with a background in the art world, I value excellent visual and verbal communication. Through programming,
      I combine my zest for technical challenges with my eye for good design. I am a resourceful and focussed problem-solver,
      who strives to produce intuitive applications with empathetic code.</li></ul></article>
    <aside>
      <h1>CONTACT</h1>
      <ul>
        <li>> New York</li>
        <li><a href="https://www.linkedin.com/in/eryl-murphy-49a335164/">> erylmurphy</a></li>
        <li><a href="https://github.com/ErylMurphy">> erylmurphy9</a></li>
      </ul>
      <h1>SKILLS</h1>
      <ul>
        <li>> Javascript</li>
        <li>> Ruby</li>
        <li>> HTML</li>
        <li>> CSS</li>
        <li>> React.js</li>
        <li>> Node.js</li>
        <li>> Express.js</li>
        <li>> PSQL</li>
      </ul>
    </aside>
    <main>
      <h1>PROJECTS</h1>
      <ul>
      <li><a href="https://sleepy-citadel-33614.herokuapp.com">> Wassily</a></li>
      <li><a href="https://blooming-eyrie-34156.herokuapp.com">> TravelRead</a></li>
      <li><a href="https://pages.git.generalassemb.ly/erylmurphy9/Project1">> Sesquipedalia</a></li>
      </ul>
    </main>
  </div>
</body>
<footer>
  <% include ./partials/footer %>
</footer>

</html>